@import 'tailwindcss';

@theme {
	--color-0: #ffffff;
	--color-1: #eaeaea;
	--color-2: #dadada;

	--color-9: #000000;

	--color-muted: #777777;
}

:root {
	font: 400 16px/1.5 'Inter', sans-serif;
}

body {
	background: var(--color-0);
	color: var(--color-9);
	text-transform: lowercase;
}

::selection {
	background: var(--color-1);
	color: var(--color-9);
}

.temporary-spin {
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
